<footer class="site-footer">

  <div class="wrapper">

    <ul class="social-media-list">
      <li>
        {% include icon-wikihoops.html %}
      </li>

      {% if site.github %}
      <li>
        {% include icon-github.html github=site.github %}
      </li>
      {% endif %}

      {% if site.twitter %}
      <li>
        {% include icon-twitter.html twitter=site.twitter %}
      </li>
      {% endif %}
      <li><a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a></li>
      <li><a href="{{ '/author-guidelines/' | prepend: site.baseurl }}">Author Guidelines</a></li>
    </ul>
    
    {% if site.disclaimer %}
    <p class="page-meta">{{ site.disclaimer }}</p>
    {% endif %}

  </div>

</footer>
